.symptoms-bunner {
  position: relative;
  width: 50%;
  height: 686px;
  background: url('../../assets/images/pains/body.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.symptoms-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(739px);
  width: 100%;
  height: 70px;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background: var(--btn-bg);
  -webkit-transform: translateY(739px);
  -moz-transform: translateY(739px);
  -ms-transform: translateY(739px);
  -o-transform: translateY(739px);
}

.symptoms-circle {
  position: absolute;
  border-radius: 100px;
  display: flex;
  color: white;
  font-weight: 700;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;

}

.circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  background: var(--btn-bg);
}

.circle-pulse-one {
  position: absolute;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  animation: pulse 1.5s linear 0.5s infinite;
  -webkit-animation: pulse 1.5s linear 0.5s infinite;
}

.circle-pulse-two {
  position: absolute;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  animation: pulseTwo 1.5s linear infinite;
  -webkit-animation: pulseTwo 1.5s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    background: rgba(246, 249, 243, 0);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  20% {
    transform: scale(2);
    background: rgba(246, 249, 243, 1);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
  }

  30% {
    transform: scale(2);
    background: rgba(246, 249, 243, 0);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
  }

  100% {
    transform: scale(2);
    background: rgba(246, 249, 243, 0);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
  }
}

@keyframes pulseTwo {
  0% {
    transform: scale(1);
    background: rgba(164, 197, 140, 0);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  20% {
    transform: scale(2);
    background: rgb(164, 197, 140);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
  }

  30% {
    transform: scale(2);
    background: rgba(164, 197, 140, 0);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
  }

  100% {
    transform: scale(2);
    background: rgba(164, 197, 140, 0);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
  }
}

.circle-1 {
  top: 200px;
  left: 165px;
}

.circle-2 {
  top: 129px;
  left: 203px;
}

.circle-3 {
  top: 17px;
  left: 203px;
}

.circle-4 {
  top: 84px;
  left: 231px;
}

.circle-5 {
  top: 53px;
  left: 231px;
}

.circle-6 {
  top: 426px;
  left: 263px;
}

.circle-7 {
  top: 28px;
  left: 244px;
}

.circle-hidden {
  visibility: hidden;
}

@media (max-width: 1255px) {
  .symptoms-bunner {
    width: 40%;
    height: 686px;
  }
}

@media (max-width: 1200px) {
  .symptoms-bunner {
    width: 40%;
    height: 602px;
    background-position: inherit;
  }

  .symptoms-circle {
    width: 40px;
    height: 40px;
  }

  .circle-1 {
    top: 193px;
    left: 130px;
  }

  .circle-6 {
    top: 426px;
    left: 244px;
  }


}

@media (max-width: 1000px) {
  .symptoms-bunner {
    width: 40%;
    height: 540px;
    background-position: center;
  }

  .symptoms-circle {
    width: 40px;
    height: 40px;
  }

  .circle-1 {
    top: 172px;
    left: 115px;
  }

  .circle-2 {
    top: 120px;
    left: 178px;
  }

  .circle-5 {
    top: 53px;
    left: 188px;
  }

  .circle-6 {
    top: 332px;
    left: 212px;
  }

  .circle-7 {
    top: 28px;
    left: 161px;
  }

  .symptoms-button {
    transform: translateY(650px);
    -webkit-transform: translateY(650px);
    -moz-transform: translateY(650px);
    -ms-transform: translateY(650px);
    -o-transform: translateY(650px);
  }

}

@media (max-width: 935px) {
  .circle-3 {
    top: 17px;
    left: 181px;
  }
}

@media (max-width: 886px) {
  .circle-1 {
    top: 172px;
    left: 87px;
  }

  .circle-2 {
    top: 129px;
    left: 156px;
  }

  .circle-3 {
    top: 35px;
    left: 134px;
  }

  .circle-4 {
    top: 84px;
    left: 186px;
  }

  .circle-5 {
    top: 70px;
    left: 158px;
  }

  .circle-6 {
    top: 332px;
    left: 172px;
  }

  .circle-7 {
    top: 28px;
    left: 130px;
  }
}

@media (max-width: 801px) {
  .symptoms-flexbox {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 0px 0px;
  }

  .symptoms-list-box {
    width: 95%;
  }

  .symptoms-bunner {
    display: none;
  }
}