@import './style/1-header/header.css';
@import './style/1-header/header-black.css';
@import './style/2-bunner/carousel.css';
@import './style/2-bunner/bunner-promo.css';
@import './style/3-statistic/statistic.css';
@import './style/4-symptoms/symptoms-list.css';
@import './style/4-symptoms/symptoms-img.css';
@import './style/5-success.css/bg-girl.css';
@import './style/5-success.css/btn-box.css';
@import './style/5-success.css/success-description.css';


* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;

}

:root {
    --btn-text-color: #ffffff;
  --title-green: #a4c58c;
  --bg-green: #f6f9f3;
  --btn-bg: #7eb252;
  --text-color: #303030;
  --contact-color: #9a9a9a;
}

.center {
  max-width: 1200px;
  margin: 0px auto;
}

.center-bunner {
  position: relative;
  max-width: 1700px;
  margin: 0px auto;
}


.bunner__wrapper {
  position: relative;
}

section{
  padding: 0px 0px 124px 0px;
}