/* ~~~~~~ Стили для левого блока ~~~~~~~ */
.success-secret__image-box {
  width: 51%;
}
.success-secret-img {
  position: relative;
}
.bg-girl {
  width: 100%;
}
.success-secret__button {
  width: 65%;
  background: var(--btn-bg);
  display: flex;
  margin-left: auto;
  color: white;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 0.9rem;
  text-transform: uppercase;
  transform: translate(-20px,-4px);
}

.success-secret__image-box {

}

figcaption{
  position: absolute;
  width: 69%;
  bottom: 0px;
  right: 0px;
  background: white;
  margin-left: auto;
  box-sizing: border-box;
  padding: 59px 50px 42px 62px;
}

figcaption::before{
  content: "";
  position: absolute;
  width: 94%;
  top: 15px;
  margin-left: auto;
  box-sizing: border-box;
  padding: 69px;
  border: 1px solid var(--btn-bg);
  transform: translateX(-46px);
  -webkit-transform: translateX(-46px);
  -moz-transform: translateX(-46px);
  -ms-transform: translateX(-46px);
  -o-transform: translateX(-46px);
}


.success-secret__button-text {

}

.success-secret__button {

}


.success-secret__button::after {
  /* content: '\2192';
  font-size: 2rem;
  display: block;
  padding: 0px 0px 7px 20px;
  animation: arrowmove 5s linear infinite both;
  -webkit-animation: arrowmove 5s linear infinite both; */
}

@keyframes arrowmove {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }

  3% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }

  6% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }

  9% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }

  12% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }

  100% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}