@import './animation.css';

.bunner-promo {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  color: white;
}

.img-wrapper {
  width: 40%;
}

.bunner-promo-img {
  display: block;
  padding: 100px 0px 0px 0px;
  margin-left: auto;
}

.bunner-promo-description {
  width: 50%;
  padding: 170px 0px 0px 183px;
  box-sizing: border-box;
}

.bunner-promo-text--one {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
}

.bunner-promo-title {
  font-size: 3.9rem;
  font-weight: 600;
  line-height: 77px;
  padding: 0px 0px 30px 0px;
}

.bunner-promo-text--two {
  font-size: 1.1rem;
  line-height: 23px;
}

.bunner-promo-btn {
  margin: 212px auto 0px;
  font-size: 0.9rem;
  width: 473px;
  text-transform: uppercase;
  height: 60px;
  display: flex;
  text-decoration: none;
  background: var(--btn-bg);
  color: var(--btn-text-color);
  justify-content: center;
  align-items: center;
}

.bunner-promo-btn::after {
  content: '\2192';
  font-size: 2rem;
  display: block;
  padding: 0px 0px 7px 20px;
  animation: arrowmove 5s linear infinite both;
  -webkit-animation: arrowmove 5s linear infinite both;
}

@media(max-width: 1300px) {
  .bunner-promo-description {
    width: 50%;
    padding: 170px 0px 0px 80px;
    box-sizing: border-box;
  }
}

@media(max-width: 1030px) {
  .bunner-promo-img {
    padding: 194px 0px 0px 0px;
    width: 199px;
  }

  .bunner-promo-btn {
    width: 100%;
    text-transform: uppercase;
  }
}

@media (max-width: 900px) {
  .bunner-promo-description {
    width: 50%;
    padding: 120px 0px 0px 80px;
    box-sizing: border-box;
  }

  .bunner-promo-img {
    padding: 117px 0px 0px 0px;
    width: 199px;
  }

  .bunner-promo-btn {
    margin: 180px auto 0px;

  }
}

@media (max-width: 860px) {
  .bunner-promo-description {
    padding: 120px 0px 0px 38px;
  }
}

@media (max-width: 741px) {
  .bunner-promo-description {
    padding: 40px 0px 0px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-wrapper {
    display: none;
  }

  .bunner-promo-btn {
    margin: 110px auto 0px;
    width: 95%;
  }
}

@keyframes arrowmove {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }

  3% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }

  6% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }

  9% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }

  12% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }

  100% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}